/*
 * This is a manifest file that'll be compiled into application.css,
 * which will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory,
 * lib/assets/stylesheets, vendor/assets/stylesheets, or
 * vendor/assets/stylesheets of plugins, if any, can be referenced
 * here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll
 * appear at the top of the compiled file, but it's generally better
 * to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div, h1, body, img, ul, li, a, figure {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: arial;
  font: inherit;
}

.photo-fig {
  position: relative;
  display: block;
  text-align: center;
  margin: auto;
  max-width: 60%;
}

img.photo {
  cursor: crosshair;
  display: block;
  width: 100%;
  height: auto;
}

div.photo-tag {
  width: 90px;
  height: 90px;
  border: solid red 5px;
  float: left;
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  user-select: none;
}

ul.tag-options {
  float: left;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul.tag-options li {
  border: solid red 5px;
  color: red;
  height: 20px;
  width: 100px;
}
