<h1><%= photo.get("title") %></h1>
<figure class="photo-fig">
  <div class="photo-tag"></div>
  <img class="photo" src="<%= photo.get("url") %>">
</figure>
<br>
<a id="back-link" href="#">Back To Photos</a>