<form>
  <label for="photo_title">Title</label>
  <input type="text" name="title" id="photo_title" >

  <label for="photo_url">URL</label>
  <input type="text" name="url" id="photo_url" >

  <button id="new_photo_button">Submit</button>
</form>